.main{
    transform: translateY(60px);
    padding-top: 10px;

}
.main_right_contact {
    position: relative;
}


.main_left_icon img {
    border-radius: 50%;
}

.main_left a {
    text-decoration: none;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    color: #333;
    font-weight: 500;
    padding: 2px 8px;
}

.main_left_icon {
    padding-right: 18px;
}

.main_left li {
    border-radius: 5px;
    
}

.main_left li:hover {
    background: #3333331f;
}

/* style main right  */
.main_right_icon img {
    width: 100px;
    border-radius: 5px;
    margin: 0px 10px;
}
.main_single_right ul {
    padding: 0;
}

.main_right_contact img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.online {
    background: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 32px;
    border: 2px solid #fff;
}
.main_single_right ul {
    margin: 0;
    padding: 0;
    margin: 2px 0;
}
.createPost {
    display: flex;
}

.mainPost {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.main_left_icon img {
    width: 30px;
}