
.postCard.card {
    width: 100%;
    border-radius: 9px;
}
.postInput img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}

.postInput {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 13px;
}

.input input[type="text"] {
    width: 418px;
    background: #3333330f;
    padding: 9px 20px;
    border: none;
    border-radius: 30px;
    margin: 15px 6px;
}
.postCard hr {
    width: 100%;
    background: #b3b1b1;
    padding: 1px;
}
.createPostSecond {
    display: flex;
    justify-content: space-around;
}

.createPostSecond p {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
}
.createPostSecond svg {
    font-size: 25px;
    margin: 0 13px;
}

